* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Header */
header {
  height: 5%;
  background-color: turquoise;
}

header h1 {
  margin-left: 20px;
  padding-top: 15px;
}

/* Section */
.section-style {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px dashed black;
}

h2 {
  margin-top: 10px;
  margin-left: 10px;
}

/* Rectangle Section */
#rectangles {
  height: 25vh;
}

#purple-rectangle {
  height: 150px;
  width: 300px;
  background-color: purple;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 4px solid red;
}

#blue-square {
  height: 150px;
  width: 150px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  margin-left: 360px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px 4px #000000;
}

#magenta-square {
  height: 280px;
  width: 280px;
  background-color: salmon;
  position: absolute;
  bottom: 0;
  margin-left: 550px;
  margin-bottom: 20px;
  border: 2px solid black;
}

/* Circle Section */
#circles {
  height: 35vh;
}

.coal {
  height: 22px;
}

.coal-head {
  margin-top: 30px;
  padding-left: 10px;
}

#carrot {
  height: 22px;
  margin-left: 20px;
  margin-top: 10px;
}

.radius {
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
}

#top {
  height: 110px;
  width: 110px;
  margin-top: 10px;
  margin-left: 40px;
  padding-left: 10px;
}

#middle {
  height: 135px;
  width: 135px;
  margin-left: 30px;
}

.coal-body {
  display: block;
  margin-left: 55px;
  margin-top: 15px;
}

#bottom {
  height: 185px;
  width: 185px;
  margin-left: 10px;
}

/* Everything Section */
#everything {
  height: 25vh;
}

#large-square {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: palegoldenrod;
  border: 1px solid black;
}

#large-circle {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid black;
}

#small-square {
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: 30px;
  margin-top: 35px;
  background-color: red;
  color: white;
  border: 1px solid black;
}

#small-square p {
  position: absolute;
  bottom: 0;
  margin-left: 45px;
}

#small-circle {
  height: 125px;
  width: 125px;
  background-color: blue;
  border-radius: 50%;
  border: 1px solid black;
}

#fishy {
  height: 50px;
  margin-left: 35px;
  margin-top: 35px;
}